<div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-grid-gutter">
  <div class="card mb-7">

    <!-- Image -->
    <div class="card-img album-img-box">

      <!-- Image -->
      <a class="card-img-overlays" href="{{ .Permalink }}">
          <img class="card-img-top d-block overflow-hidden" src="{{ .Params.image }}" alt="...">
      </a>

      <!-- Actions -->
    </div>

    <!-- Body -->
    <div class="card-body py-2">
      <div class="post-entry">
      {{ .Params.title }}
      </div>
      <!-- 

      <h3 class="product-title fs-sm"><a href="shop-single-v1.html">Cotton Lace Blouse</a></h3>
      <div class="d-flex justify-content-between">
        <div class="product-price"><span class="text-accent">$28.<small>50</small></span>
          <del class="fs-sm text-muted">$38.<small>50</small></del>
        </div>
        <div class="star-rating">
          <i class="bi-cart-fill me-1"></i>
        </div>
      </div>
      -->
    </div>

  </div>
</div>